@font-face {
  font-family:"TeX";
  src: url("../FONTS/TeX.otf");

}
@font-face {
  font-family: "Neris-light";
  src: url("../FONTS/Neris-Thin.otf");

}

@font-face {
  font-family: "Neris-bold";
  src: url("../FONTS/Neris-SemiBold.otf");

}

body {
  width: 100%;
  height: 100vh;

}

.main-nav {
  width: 100%;
  height: 120px;
  display: flex;
  background-color: #0a0b1f;

}
.main-booking {
  width: 100%;
  height: 120px;
  background:linear-gradient(90deg,#0A0B20,#01BC9D);
  padding: 35px;
  box-sizing: border-box;


}
.main-content {
  width: 100%;
  height: calc(100vh - 240px);
  background-image: url("../IMG/villa.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.logo {
  width: calc(100% - 480px);
  line-height: 120px;
  vertical-align:middle;
  font-size: 42px;
  padding-left: 15px;
  box-sizing: border-box;
  font-family: "Neris-light";
  letter-spacing:3px;
  color: #ffffff;

}

.navigation {
  width: 480px;
  padding: 30px 40px;
  box-sizing: border-box;


}

.logo span {
  font-family: "Neris-bold";

}

.nav-row {
  height: 30px;
  width: 100%;
  display: flex;
}

.nav-row a {
  display: block;
  width: 33.33%;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 40px;
  color: #ffffff;
  font-family:"Neris-bold";
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 2px;

}

.inner-content {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0px;
  left: 0px;
  display: flex;

}

.solid-side {
  width: 300px;
  background-color: #0A0B20;
  padding: 30px;
  color: #ffffff;
  box-sizing: border-box;


}

.solid-side h1 {
  font-size: 16px;
  font-family: "Neris-light";
}

.solid-side h1 span {
  font-family: "Neris-bold";
}
.transparent-side {
  width: calc(100% - 300px);

}

.top-side {
  width: 100%;
  height: 150px;
  background-color: #0A0B2077;
  vertical-align: middle;
  line-height: 150px;
  font-size: 86px;
  font-family: "Neris-light";
  padding-left: 70px;
  color: #ffffff;
  box-sizing: border-box;

}

.top-side span {
  font-family: "Neris-bold";
}

.bottom-side {
  width: 100%;
  height: 50px;
  background-color: #0A0B20DD;
  padding:0px 60px;
  box-sizing: border-box;

}

.bottom-item {
  display: inline-block;
  padding:0px 12px;
  color: #ffffff;
  text-decoration: none;
  line-height: 50px;
  vertical-align: middle;
  height: 50px;
  font-size: 13px;
  font-family: "Neris-bold";
  letter-spacing: 2px;

}

.bottom-item span {
  position: relative;
  top: 2px;
}

.bottom-item i {
  color: #01BC9D;
  font-size: 15px;
  padding-right: 7px;
}
.more-details {
  color:#01BC9D;
  font-size: 12px;
  text-decoration: none;
  font-family: "Neris-bold";
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  letter-spacing: 2px;

}

.more-details i {
  font-size: 15px;
  padding-right: 5px;
}

.divider {
  background-color: #01BC9D;
  height: 2px;
  width: 30px;
  margin-top: 17px;
  margin-bottom: 8px;
}

.solid-side p {
  line-height: 20px;
  font-size: 12px;
  font-family: "Neris-bold";

}

.solid-side p span {
  position: relative;
  top: 1px;
  font-size: 11.5px;

}
.social {
  padding-top: 12px;

}
.social-item {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #555555;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  margin: 0px 2px;
  font-size: 13px;
  color:#0A0B20;

}

.float-right {
  font-size: 36px;
  color: #ffffff;
  float: right;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;

}

.float-right i {
  padding: 0px 5px;

}
.picker {
  background:none;
  height: 30px;
  width: 210px;
  margin: 10px 5px;
  margin-right: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Neris-bold";
  border: 1px solid #ffffff88;
  color: #ffffff;
  outline: none;

}

.picker::placeholder {
  color: #ffffff;

}

.sleeps-div {
  display: inline-block;
  height: 50px;
  margin-right: 20px;
}

.sleeps-div span {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  font-size: 13px;
  color: #ffffff;
  font-family: "Neris-bold";
}

.sleeps {
  background:none;
  height: 30px;
  width: 70px;
  margin: 10px 5px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Neris-bold";
  border: 1px solid #ffffff88;
  color: #ffffff;
  outline: none;
}
.sleeps:focus {
  outline: none;
}

.picker:focus {
  outline: none;
}

.booking  {
  background-color: #ffffff;
  height: 32px;
  width: 210px;
  margin: 10px 5px;
  margin-right: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Neris-bold";
  border: 1px solid #ffffff88;
  color: #0b3a43;
  outline: none;
  padding: 0px;
  box-sizing: content-box;

}
